<h1>Order Details: </h1>

<h2>@Model["order"].Title</h2>
<h2>@Model["order"].Description</h2>
<h2>@Model["order"].Quantity</h2>
<h2>@Model["order"].Price</h2>
<h3>Vendor First Name: @Model["vendor"].FirstName | @Model["vendor"].LastName
  | @Model["vendor"].Address | @Model["vendor"].Description
</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all Vendors</a>